
.front{
    padding: 50px;
    background-color: rgb(200, 200, 255);
}
.card {
    background-color: transparent;
    color: white;
}
.background-left{
    margin-left: 50px;
    margin-top: 50px;
}
.background-left h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
}
.background-left h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}
.background-left i{
    border:  2px dotted black;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
.background-left img{
    width: 100%;
}
.form-group{
    padding: 10px;
}

.trainings{
    padding: 50px;
    text-align: center;
    
}
.trainings h1{
    font-size: 30px;
}
.trainings h2{
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.course-card{
    text-align: left;
}
mat-card-title a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(20, 64, 102);
}
mat-card-subtitle{
    font-size: 15px;
}
.view_more{
    padding: 10px;
    font-size: 25px;
    background-color: rgb(194, 194, 241);
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: white;
}
mat-divider{
    height: 1px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}