<div class="row front">
    <div class="col-sm-5 background-left">
        <h1>Special offer for students pursuing your degree!</h1>
        <h3>Get 55% + 10% OFF on all online trainings</h3>
        <h4>Coupon: <i>DEGREE10</i></h4>
    </div>
    <div class="container col-sm-6 background-right">
        <img src="../../assets/signup.png" alt="">
    </div>
</div>
<div class="trainings">
    <h1>Online Trainings we offer</h1>
    <h2>Web Development </h2>
    <div class="row">
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a routerLink="/course/course_001">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button routerLink="/course/course_001">View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a routerLink="/course/course_002">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button routerLink="/course/course_002">View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a routerLink="/course/course_003">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button routerLink="/course/course_003">View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a routerLink="/course/course_004">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button routerLink="/course/course_004">View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <a routerLink="listCourse">
            <div class="view_more">
                View More<mat-icon>expand_more</mat-icon>
            </div>
        </a>
    </div>
</div>
<mat-divider></mat-divider>
<div class="trainings">

    <h2>Web Development </h2>
    <div class="row">
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <a routerLink="/courses">
            <div class="view_more">
                View More<mat-icon>expand_more</mat-icon>
            </div>
        </a>
    </div>
</div>
<mat-divider></mat-divider>
<div class="trainings">

    <h2>Web Development </h2>
    <div class="row">
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="course-card">
                <mat-card-header>
                    <mat-card-title> <a href="#">Actions Buttons</a></mat-card-title>
                    <mat-card-subtitle>Duration: 8 hours</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/python.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>View More >></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <a routerLink="/courses">
            <div class="view_more">
                View More<mat-icon>expand_more</mat-icon>
            </div>
        </a>
    </div>
</div>
<mat-divider></mat-divider>